@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

#container{
    display: grid;
    height: 600px;
    width: 800px;
    border: dotted 1px purple;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 10px;
    grid-template-areas: 

    "caixa 1 caixa1 caixa1"
    "caixa 2 caixa2 caixa2"
    "caixa 3 caixa3 caixa3"   
    ;
   column-gap: 10px;
   row-gap: 15px;
}

.caixa1{
    background-color: aquamarine;
    grid-area: Cx1;
}
.caixa2{
    background-color: rgb(43, 105, 85);
    grid-area: Cx2;
}
.caixa3{
    background-color: rgb(195, 232, 220);
    grid-area: Cx3;
}
