div{
    height: 250px;
    width: 250px;
    border: dotted 1px;
    margin: 0.5;
}

.caixa1{
    border-color: blueviolet;
    box-sizing: content-box;
    font-size: 2em;
    padding: 30px;
    border: dotted 10px cadetblue ;
    
}

.caixa2{
    box-sizing: border-box;
    border-color: brown;
    box-sizing: content-box;
    font-size: 2em;
    padding: 30px;
    border: dotted 10px red;
}